/* You can delete / re-write this img class  */

/* img {
  max-width: 200px;
} */

/* Happy coding! */

:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
  --liliac: #d7bde2;
  --pista: #d1f2eb;
  --grey: #aeb6bf;
  --coral: #f05d5e;
  --yellow: #f6fa93;
  --dark-olive-green: #556b2f;
  --dark-orchid: #9932cc;
}

* {
  margin: 1rem;
  padding: 0.2rem;
  box-sizing: border-box;
  /* font-size: 1.5rem; */
}

.card-holder {
  display: flex;
  justify-content: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 2.5rem 2.5rem 0 rgba(0, 0, 0, 0.2);
}

/*BLOCK*/
.card {
  display: inline-block;
  width: 25rem;
  border: 0.2rem solid var(--dark);
  border-radius: 1rem;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}

/*ELEMENTS*/
.card__force {
  background-color: var(--yellow);
}
.card__darkSide {
  background-color: var(--grey);
}

.card__darthMaul {
  background-color: darkcyan;
}

.card__bb8 {
  background-color: var(--liliac);
}

.card__name {
  font-size: 1.8rem;
}

.card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

/*STRUCTURE*/
.card__button {
  width: 7rem;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  font-size: 1.3rem;
  color: #d1f2eb;
}

/*Skins*/
.success {
  background: green;
}

.warning {
  background: red;
}
